@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Varela+Round&display=swap');


body{
    background:gainsboro;
    font-family: "Nunito";
    color: white;
}

.logo img{
    width: 100px;
    border-radius: 100px;
    
}

.weather{
    background:url("https://images.pexels.com/photos/813269/pexels-photo-813269.jpeg?auto=compress&cs=tinysrgb&w=600") no-repeat center center/cover;
    width: 600px;
    margin: 30px auto;
    border-radius: 10px;
    padding: 35px;
    box-shadow: 10px 10px 5px darkslateblue;
}


.input-search{
    background: none;
    width: 70%;
    border:none;
    font-size: 16px;
    padding: 18px 20px;
    color: white;
}


.search-button{
    background: white;
    padding: 16px 20px;
    border: none;
    border-radius: 8px;
    margin-left: 5px;
    color: darkslateblue;
    font-size: 18px;
}


/*Content section styling*/
.information {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}


.city{
    margin: 0;
    font-size: 38px;
    line-height: 48px;
}

.date{
    font-size: 16px;
    line-height: 20px;
}


.information strong{
    color:lightskyblue;

}



/*temperature icon*/
.current-temp{
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#emoji{
    width: 88px;
    height: 80px;
}

.temperature{
    display: flex;
}

.current-temp{
    font-size: 88px;
    font-weight: bold;
    line-height: 88px;
}

.mode{
    margin-top: 20px;
    font-size: 20px;
}

/*Forecast*/
.week-forecast{
    display: flex;
    justify-content: space-around;
    margin-top: 30px ;
}

.forecast{
    text-align: center;
    color: lightgray;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 12px;
}

.forecast-day{
    background: rgba(129, 124, 124, 0.2);
    padding: 8px;
    border-radius: 10px;
}   

.forecast-icon{
    font-size: 30px;
    text-align: center;
}

.forecast-temp{
    text-align: center;
    color: lightskyblue ;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.forecast-temp{
    padding: 0 5px;
}



/*Footer styling*/
footer {
    padding: 30px;
    text-align: center;
    font-size: 13px;
    color: lightgray;
}

footer a{
    color: lightgray;
}